 <div class="container-fluid nav-container">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand shareload-text" href="/">ShareLOAD</a>

                        <div class="rate-us-div">
                            <button class="btn btn-outline-success rate-us-text-button">Rate Us</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>